<!--
author: Florian Lang & Laurin Hecken
-->
<mat-card>
  <h2 mat-card-header>Create Station</h2>
  <h4 mat-card-header>Fill in the fields</h4>
  <div>
    <form [formGroup]="stationForm" (ngSubmit)="onSubmit(stationForm.value)">

      <mat-form-field>
        <input formControlName="name" matInput placeholder="Name of the new station">
      </mat-form-field>

      <mat-form-field>
    <input formControlName="id" matInput placeholder="Station id (number)">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="latitude" matInput placeholder="Latitude (number)">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="longitude" matInput placeholder="Longitude (number)">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="elevation" matInput placeholder="Elevation (number)">
  </mat-form-field>

      <app-selector-country></app-selector-country>

      <button mat-raised-button color="accent" class="button" type="submit">Submit</button>

    </form>

  </div>
</mat-card>
<!--

<mat-form-field>
  <input matInput type="text" placeholder="Owner's name" formControlName="name" id="name">
  <mat-hint align="end">Not more then 60 characters long.</mat-hint>
  <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
  <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
</mat-form-field>
-->
