<!--
author: Florian Lang
-->
<h3>Create Station</h3>
<div>
  <form [formGroup]="stationForm" (ngSubmit)="onSubmit(stationForm.value)">

<mat-form-field>
  <input formControlName="id" matInput placeholder="Enter the station id as a number">
</mat-form-field>

<mat-divider></mat-divider>

<mat-form-field>
  <input formControlName="name" matInput placeholder="Enter the name of the new station">
</mat-form-field>
<mat-form-field>
  <input formControlName="latitude" matInput placeholder="Enter the latitude (number required)">
</mat-form-field>

  <mat-form-field>
    <input formControlName="longitude" matInput placeholder="Enter the longitude (number required)">
  </mat-form-field>
  <mat-form-field>
    <input formControlName="elevation" matInput placeholder="Enter the elevation (number required)">
  </mat-form-field>
    <app-selector-country></app-selector-country>

    <button class="button" type="submit">Submit</button>

  </form>

</div>
