<!--
author: Laurin Hecken
-->
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="rootMenu" (click)="buttonHandler()">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item routerLink="home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-menu-item routerLink="auth/login">
      <mat-icon>lock_open</mat-icon>
      <span>Log In</span>
    </button>

    <button mat-menu-item routerLink="user-management" *ngIf="roles.length!==1">
      <mat-icon>people</mat-icon>
      <span>User Management</span>
    </button>

    <button mat-menu-item routerLink="info">
      <mat-icon>info</mat-icon>
      <span>Info about the data</span>
    </button>

  </mat-menu>

  <div class="mat-form-field-flex"></div>

</mat-toolbar>
