<!--
author: Laurin Hecken
-->
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="rootMenu" (click)="buttonHandler()">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item routerLink="home">
      <mat-icon>bar_chart</mat-icon>
      <span>Graph</span>
    </button>

    <button mat-menu-item routerLink="climatediag">
      <mat-icon>show_chart</mat-icon>
      <span>Climate Diagram</span>
    </button>

    <button mat-menu-item routerLink="auth/login">
      <mat-icon>lock_open</mat-icon>
      <span>Log In</span>
    </button>

    <button mat-menu-item routerLink="user-management" *ngIf="roles.length!==1">
      <mat-icon>people</mat-icon>
      <span>User Management</span>
    </button>

   <button mat-menu-item [mat-menu-trigger-for]="stationMenu">
     <mat-icon>center_focus</mat-icon>
     <span>Stations</span>
   </button>

    <button mat-menu-item [mat-menu-trigger-for]="dataMenu">
      <mat-icon></mat-icon>
      <span>Data</span>
    </button>



    <button mat-menu-item routerLink="info">
      <mat-icon>info</mat-icon>
      <span>Info about the data</span>
    </button>

  </mat-menu>

  <mat-menu #stationMenu="matMenu">
    <button mat-menu-item routerLink="stations">
      <mat-icon>list</mat-icon>
      <span>Station List</span>
    </button>

    <button mat-menu-item routerLink="create-station" *ngIf="roles.length!==1">
      <mat-icon>publish</mat-icon>
      <span>Create Stations</span>
    </button>
  </mat-menu>

  <mat-menu #dataMenu="matMenu">
    <button mat-menu-item routerLink="datalist">
      <mat-icon>list</mat-icon>
      <span>Data List</span>
    </button>

    <button mat-menu-item routerLink="datacreate" *ngIf="roles.length!==1">
      <mat-icon>publish</mat-icon>
      <span>Create Data</span>
    </button>
  </mat-menu>

  <div class="mat-form-field-flex"></div>

</mat-toolbar>
