<h4>Select your Dataset</h4>

<mat-form-field>
  <mat-label>Select City</mat-label>
  <mat-select [(value)]="selectedCity">
    <mat-option *ngFor="let station of stations" [value]="station">
      {{station.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedCity">
  <mat-label>Select Data</mat-label>
  <mat-select [(value)]="selectedData">
    <mat-option *ngFor="let data of selectedCity.availableData" [value]="data">
      {{data}}
    </mat-option>
  </mat-select>
</mat-form-field>
