<mat-form-field>
  <input matInput placeholder="Enter your username">
</mat-form-field>

<mat-divider></mat-divider>

<mat-form-field>
  <input matInput placeholder="Where was your mother born?">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="What is your favourite movie?">
</mat-form-field>

<mat-divider></mat-divider>

<mat-form-field>
  <input matInput type="password" placeholder="Enter your new password">
</mat-form-field>
<mat-form-field>
  <input matInput type="password" placeholder="Reenter the password">
</mat-form-field>

