<mat-card>
  <mat-form-field>
    <input matInput placeholder="First Name" [value]="firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" [value]="lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Create Username" [value]="username">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Create Password" [value]="password">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Retype Password" [value]="retypedPassword">
  </mat-form-field>

  <button mat-raised-button color="accent">Register</button>

</mat-card>
