<button mat-raised-button color="primary" (click)="getDataFromServer()">Get the data</button>

<mat-form-field>
  <mat-label>Which data do you want to see?</mat-label>
  <mat-select [formControl]="selectedData" multiple>
    <mat-option *ngFor="let dataSet of dataSetList" [value]="dataSet">{{dataSet}}</mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="accent" (click)="buttonHandler()">Show the graph</button><mat-card>

  <canvas baseChart width="200" height="60"
          [datasets]="myChartData"
          [labels]="myChartLabels"
          [options]="myChartOptions"
          [legend]="myChartLegend"
          [chartType]="myChartType"></canvas>
</mat-card>






