<mat-card>
  <canvas baseChart width="200" height="100"
          [datasets]="myChartData"
          [labels]="myChartLabels"
          [options]="myChartOptions"
          [legend]="myChartLegend"
          [chartType]="myChartType"></canvas>
</mat-card>

<button mat-raised-button color="primary" (click)="getDataFromServer()">Get the Data</button>
<button (click)="buttonHandler()">Show the Graph</button>

<p>selectedStation = {{this.selectedStation.name}}</p>
<p>selectedMinDate = {{this.selectedMinDate}}</p>
<p>selectedMaxDate = {{this.selectedMaxDate}}</p>

