<!--
author: Florian Lang
-->
<div>
<app-selector-country></app-selector-country>
<button mat-raised-button color="primary" (click)="getStationsForcountryFromServer()" matTooltip="Fetches your Stations from the server">
  Fetch Stations
</button>
  <button id="EditStation" mat-raised-button color="primary" (click)="edit(selection.selected.pop().id)" matTooltip="Edit the Selected Station">
    Edit Selected Station
  </button>
</div>
<div>
  <button id="DownloadJson" mat-raised-button color="primary" (click)="generateDownloadJsonUri()" matTooltip="Gets the Data as Json Document">
    Generate Json File
  </button>
  <div [hidden]="!isDownloadable">
    <a class="btn btn-clear" title="Download JSON" [href]="downloadJson" download="download.json">get the file</a>
  </div>
</div>
<div  class="mat-elevation-z8">
  <table mat-table [dataSource]= "dataSourceStations" matSort>
    <ng-container matColumnDef="select">
      <!--<th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>-->
      <th mat-header-cell *matHeaderCellDef >Select</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="position" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Station Id</th>
      <td mat-cell *matCellDef="let station"> {{station.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Station Name</th>
      <td mat-cell *matCellDef="let station"> {{station.name}} </td>
    </ng-container>

    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
      <td mat-cell *matCellDef="let station"> {{station.latitude}} </td>
    </ng-container>

    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
      <td mat-cell *matCellDef="let station"> {{station.longitude}} </td>
    </ng-container>

    <ng-container matColumnDef="elevation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Elevation</th>
      <td mat-cell *matCellDef="let station"> {{station.elevation}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
  </table>
  <mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons></mat-paginator>
</div>

<!--

-->
